<div *ngIf="isLoaded">  
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h3>{{ getFullName() }} ({{ recipe.createdDate | date: 'shortDate' }})</h3>
            <button class="manage-button btn btn-success" (click)="onEditRecipe()">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
            <button class="manage-button btn btn-danger" (click)="onDeleteRecipe()">X</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h4>Recipe Description:</h4>
            {{ recipe.description }}
        </div>
    </div>
    <div class="row" *ngIf="recipe.namesTree.length > 1">
        <div class="col-md-12 col-sm-12">
            <h4>Recipe Tree:</h4>
            <ul class="list-group">
                <ng-template ngFor let-item [ngForOf]="recipe.namesTree">
                    <li class="list-group-item" *ngIf="!(item.id === recipe.id)">
                        {{ item.name }}
                    </li>
                </ng-template>                           
            </ul>
        </div>
    </div>
</div>